.title {
  font-family: "DINNextLTPro-Condensed", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.avatar {
  height: 44px;
  margin-right: 10px;
}
.filler {
  flex: 1 1 auto;
}

.question {
  text-align: center;
}

.no-questions {
  text-align: center;
  margin-top: 80px;
}

.projection {
  height: 100vh;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 50;
  text-align: center;

  img {
    margin: 0 auto;
  }
}

.choices {
  button {
    width: 100%;
    display: block;
  }
}
.not-started {
  margin-top: 80px;
}
