.mat-card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  max-width: 500px;

  .mat-card-actions {
    text-align: center;
    padding-bottom: 20px;
  }
}

.user-logged-in {
  text-align: center;

  img {
    width: 150px;
  }
}
