<div class="container-fluid">
  <md-card *ngIf="userLoaded">
    <md-card-content>
      <div *ngIf="!isLoggedIn" class="user-anonymous text-center">
        <h1>Mabuhay!</h1>
        <p>Please log in with your Google account to continue.</p>
      </div>
    </md-card-content>
    <md-card-actions>
      <button *ngIf="!isLoggedIn" md-raised-button color="primary" (click)="login()">Login</button>
      <button *ngIf="isLoggedIn" md-raised-button color="primary" (click)="logout()">Logout</button>
    </md-card-actions>
  </md-card>
</div>
