<div class="container-fluid">
  <div *ngIf="!hasStarted" class="not-started text-center">
    <h1>Kamusta?</h1>
  </div>
  <div *ngIf="activeQuestion" class="question">
    <h1>{{ activeQuestion.question }}</h1>

    <div class="choices" [ngClass]="{'show-correct': showCorrectAnswer}">
      <md-grid-list cols="2" rowHeight="100px">
        <md-grid-tile
            *ngFor="let choice of activeQuestion.choices">
          <h3 class="choice" [ngClass]="{'correct': choice.value == activeQuestion.answer && showCorrectAnswer}">{{ choice.label }}&nbsp;<span *ngIf="answers[choice.value]">({{ answers[choice.value] }})</span></h3>
        </md-grid-tile>
      </md-grid-list>
    </div>
  </div>
  <div *ngIf="noQuestions" class="no-questions">
    <h2>There are no more questions left.</h2>
  </div>
</div>
<div class="projection" *ngIf="activeImage">
  <img [src]="activeImage" class="img-responsive" />
</div>
