<div class="container-fluid">
  <button md-raised-button (click)="start()">Start presentation</button>
  <button md-raised-button (click)="next()">Next question</button>
  <button md-raised-button (click)="reveal()">Reveal answer</button>
  <button md-raised-button (click)="hide()">Hide answer</button>
  <button md-raised-button (click)="removeProjection()">Remove projection</button>
  <button md-raised-button (click)="clear()">Clear all</button>
  <div class="gallery">
    <md-grid-list cols="2" rowHeight="200px">
      <md-grid-tile
          *ngFor="let image of images">
        <div class="thumb"><img (click)="showImage(image)" [src]="image" class="img-responsive" /></div>
      </md-grid-tile>
    </md-grid-list>
  </div>
  <div class="overlay" *ngIf="activeImage">
    <div class="overlay-content">
      <img [src]="activeImage" class="img-responsive" />
      <div class="text-right">
        <button md-raised-button (click)="closeImage()">Close</button>
        <button md-raised-button color="primary" (click)="projectImage(activeImage)">Project</button>
      </div>
    </div>
  </div>
</div>
