@font-face {
  font-family: 'DINNextLTPro-Regular';
  src:  url('./fonts/DINNextLTPro-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'DINNextLTPro-Condensed';
  src:  url('./fonts/DINNextLTPro-Condensed.otf') format('opentype');
}
@font-face {
  font-family: 'DINNextLTPro-Light';
  src:  url('./fonts/DINNextLTPro-Light.otf') format('opentype');
}
